
body {
    font-family: Rochester;
}
header{
    background-color:  #29497F;
}
nav img{
    width: 77px;
height: 56px;
}
nav a{
    font-size: 16px;
    text-decoration: none;
    background-color: white;
    border: 3px solid black;
    color: #000000;
    padding: 10px;
    margin: 3px 10px 35px 10px;
}
nav{
    padding: 25px;
}
.first{
    margin-left: 150px;
}
h1{
    font-size: 36px;
    text-align: center;
 
    color: #1049A9;
}
p{
    font-size: 16px;
    text-align: center;
}
h2{
 
    font-size: 32px;
    text-align: center;
 
    color: #1049A9;
}
.spisok{
    width: 170px;
    height: 120px;
    border:  3px solid #6A92D4;
}
ul li{
    list-style: none;
    line-height: 30px;
}
 
ul li::before{
    content: "";
    background: url("https://drive.google.com/uc?export=view&id=1KbszUSd0cjUwjUqb9D9QP-R0lVSVsBGF");
    float: left;
    width:30px;
    height: 30px;
    margin-right: 10px;
}
 
td img{
    height: px;
    width: 60px;
 
}
table,tr,td{
    border:;
   
}

