
body {
    font-family: sans-serif;
    color: white;
}
main {
    background: #0B61A4;
}
head{
    background: #3F92D2;
}
footer{
    background: #3F92D2;
}
header{
    background: #3F92D2;
    padding: 10px;
}
 
header img{
    width: 70px;
    height: 70px;
}
nav{
   
    padding: 10px;
}
nav a{
    background:#66A3D2;
    text-decoration:none;
    padding: 5px;
    border: 2px solid;
    margin: 10px;
}
