
header{
    background-color: rgba(0, 0, 255, 0.705);
}
header img{
    width: 50px;
}
 
p{
font-size: x-large ;
 
}
h1{
    text-align: center;
}
 main p{
    text-align: right;
}
img {
    width: 100px ;
}
footer{
    background-color: blue;
